<html>
	<head>
		<title>Upload Photos;)</title>
		<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
		<style type="text/css">
		body {
			background-image: url("http://wallpaperpanda.com/wallpapers/zTz/pge/zTzpgepTX.jpg")
		}

		h1, label {
			color:pink;

		}

		</style>
 <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

  </head>
   <body>
	   
	   <div class="container">
		   <div class="jumbotron">
			    <h3>Upload images here</h3>
			    <input id="images" name="images" type="file" />
			</div>
		</div>
	</body>
</html>












		
	
			

																						
																						
																						
																						
																						
		
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
